<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>Main page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" media="screen" title="Main">
  	<script src="/assets/js/burgers.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

		{{{ body }}}
		
</body>
</html>
