<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>Main page</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" media="screen" title="Main">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="/js/table.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Viaoda+Libre&display=swap" rel="stylesheet">

</head>

<body>

		{{{ body }}}
		
</body>
</html>
