<div class="sidenav">
  <a href="#">Back</a>
  <div class="side-button text-center"><u>Create Table:</u>
  choose # of Seats
    <select> 
      <option value=2>2</option>
      <option value=4>4</option>
      <option value=6>6</option>
    </select>
    <button class="btn btn-primary rounded-pill" id="create-table">Build</button>
  </div>
  <a href="#">orders</a>
  <a href="#">payment</a>
</div>

<div class="inner-section check" id="section-one"></div>
<div class="inner-section check" id="section-two"></div>
<div class="inner-section check" id="section-three"></div>
<div class="inner-section check" id="section-four"></div>

<script src="js/table.js"></script>